.choice-button {
    background-color: #56eb56;
    padding: 8px 15px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;

    
}

.choice-button:hover {
    background-color: #3d9e3d;
}

.choice-button:active {
    background-color: red;
}