.container {
    border: 1px solid rgb(172,171,171);
    border-radius: 5px;
    width: 170px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}

.display {
    margin-bottom: 10px;
    height: 30px;
    text-align: right;
    font-size: 20px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(172,171,171);
    border-radius: 5px;
    

}

.calc-button {
    font-size: 20px;
    padding: 5px;
    margin:4px;
    width:35px;
    height:35px;

}